<app-header></app-header>
    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">

                    <div class="container-detalle">
                        <h1>SISTEMA REGIONAL</h1>

                        <div>
                            <div class="info-section">
                                <div class="text-content">
                                    <h2>Observatorio Regional de Violencia Apurímac</h2>
                                    <p>
                                        El Observatorio Regional de la Violencia a la Mujer y al Grupo Familiar es un espacio que recopila, sistematiza y difunde información para apoyar la formulación de políticas públicas sobre violencia, fortalecer capacidades técnicas y brindar datos útiles a la población. También recoge buenas prácticas y experiencias para mejorar la gestión y evitar errores repetitivos.

                                    </p>
                                </div>
                            </div>
                            <!-- <h2>Características</h2>
                            <ul class="features-list">
                                <li><i class="bi bi-envelope-fill"></i>   Característica 1: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>  Característica 2: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>Característica 3: Descripción breve.</li>
                            </ul> -->
    
                            <table class="mt-2 table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre del Documento</th>
                                    <th scope="col">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>ORDENANZA REGIONAL N° 005-2021-GR-APURÍMAC-CR</td>
                                    <!-- <td><i class="bi bi-file-earmark-pdf-fill"></i></td> -->
                                    <td>
                                        <a href="assets/pdf/pdf-sistema-regional/ORDENANZA REGIONAL N° 005-2021-GR-APURÍMAC-CR.pdf" download>
                                          <i class="bi bi-file-earmark-pdf-fill" style="cursor: pointer; font-size: 1.5rem;"></i>
                                        </a>
                                    </td>
                                
                                  </tr>
                                   <tr>
                                    <th scope="row">2</th>
                                    <td>ACTA Y PLAN ANUAL 2025 DEL OBSERVATORIO REGIONAL</td>
                                    <!--<td><i class="bi bi-file-earmark-pdf-fill"></i></td>-->
                                    <td>
                                        <a href="assets/pdf/pdf-sistema-regional/ACTA Y PLAN DE OBSERVATORIO REGIONAL 2025 APURÍMAC.pdf" download>
                                          <i class="bi bi-file-earmark-pdf-fill" style="cursor: pointer; font-size: 1.5rem;"></i>
                                        </a>
                                    </td>
                                  </tr>
                                 <!-- <tr>
                                    <th scope="row">3</th>
                                    <td >Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>                              
                                  </tr> -->
                                </tbody>
                              </table>
                        </div>

                        <div>
                            <div class="info-section">
                                <div class="text-content">
                                    <h2>Instancia Regional de Concertación para la Prevención, Sanción y Erradicación de la Violencia contra la Mujer y los Integrantes del Grupo Familiar de la Región Apurímac</h2>
                                    <p>
                                        La Instancia Regional de Concertación tiene la finalidad de elaborar, implementar, monitorear y evaluar las políticas públicas encargadas de combatir la violencia contra las mujeres y los integrantes del grupo familiar a nivel regional, y promover el cumplimiento de la Ley N° 30364.  
                                    </p>
                                </div>
                            </div>
                            <!--<h2>Características</h2>
                            <ul class="features-list">
                                <li><i class="bi bi-envelope-fill"></i>   Característica 1: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>  Característica 2: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>Característica 3: Descripción breve.</li>
                            </ul> -->
    
                            <table class="mt-2 table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre del Documento</th>
                                    <th scope="col">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>ACTA Y PLAN ANUAL 2025 DEL DEL IRC</td>
                                    <!--<td><i class="bi bi-file-earmark-pdf-fill"></i></td>-->
                                    <td>
                                        <a href="assets/pdf/pdf-sistema-regional/ORDENANZA REGIONAL N° 031-2016-GR-APURÍMAC-CR.pdf" download>
                                          <i class="bi bi-file-earmark-pdf-fill" style="cursor: pointer; font-size: 1.5rem;"></i>
                                        </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>ORDENANZA REGIONAL</td>
                                    <!--<td><i class="bi bi-file-earmark-pdf-fill"></i></td>-->
                                    <td>
                                        <a href="assets/pdf/pdf-sistema-regional/ORDENANZA REGIONAL N° 031-2016-GR-APURÍMAC-CR.pdf" download>
                                          <i class="bi bi-file-earmark-pdf-fill" style="cursor: pointer; font-size: 1.5rem;"></i>
                                        </a>
                                    </td>
                                  <tr>
                                  <!--  <th scope="row">3</th>
                                    <td >Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>  -->                            </tr>
                                </tbody>
                              </table>
                        </div>

                        <div>
                            <div class="info-section">
                                <div class="text-content">
                                    <h2>CONSEJO REGIONAL DE LA MUJER</h2>
                                    <p>
                                       Es un órgano consultivo de coordinación y participación de la mujer apurimeña en el desarrollo local y regional, teniendo como funciones la protección de los derechos humanos, la propuesta de planes y programas relativos a la promoción, defensa de derechos, así como la prevención de violación de derechos, y en materia de promoción civil y política de la mujer ver las condiciones de equidad entre otras funciones, el mismo que está integrado por representantes de diversas instituciones del Estado, la sociedad civil y Organizaciones Sociales.
                                    </p>
                                </div>
                            </div>
                           <!-- <h2>Características</h2>
                            <ul class="features-list">
                                <li><i class="bi bi-envelope-fill"></i>   Característica 1: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>  Característica 2: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>Característica 3: Descripción breve.</li>
                            </ul>-->
    
                            <table class="mt-2 table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre del Documento</th>
                                    <th scope="col">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>ACTA Y PLAN DEL COREM 2025</td>
                                    <td>
                                        <a href="assets/pdf/pdf-sistema-regional/ACTA Y PLAN DE COREM - 2025.pdf" download>
                                          <i class="bi bi-file-earmark-pdf-fill" style="cursor: pointer; font-size: 1.5rem;"></i>
                                        </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>ORDENANZA REGIONAL</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>
                                  </tr>
                                 
                                </tbody>
                              </table>
                        </div>
                        <div>
                            <div class="info-section">
                                <div class="text-content">
                                    <h2>RED CONTRA LA TRATA DE PERSONAS Y TRÁFICO ILÍCITO DE MIGRANTES APURÍMAC</h2>
                                    <p>
                                        La Red Regional Contra la Trata de Personas, Tráfico Ilícito de Migrantes y Personas Desaparecidas de Apurímac es una iniciativa que busca prevenir, proteger y atender los casos de trata de personas y tráfico ilícito de migrantes en la región. Esta red está conformada por diversas instituciones públicas y organizaciones de la sociedad civil que trabajan de manera articulada para combatir estos delitos. </p>
                                </div>
                            </div>
                           <!-- <h2>Características</h2>
                            <ul class="features-list">
                                <li><i class="bi bi-envelope-fill"></i>   Característica 1: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>  Característica 2: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>Característica 3: Descripción breve.</li>
                            </ul>-->
    
                            <table class="mt-2 table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre del Documento</th>
                                    <th scope="col">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>ACTA Y PLAN DE LA RED CONTRA LA TRATA DE PERSONAS</td>
                                    <td>
                                        <a href="assets/pdf/pdf-sistema-regional/ACTA Y PLAN DE LA RED DE TRATA DE PERSONAS - 2025.pdf" download>
                                          <i class="bi bi-file-earmark-pdf-fill" style="cursor: pointer; font-size: 1.5rem;"></i>
                                        </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>ORDENANZA REGIONAL</td>
                                    <td>
                                        <a href="assets/pdf/pdf-sistema-regional/ORDENANZA-REGIONAL-Nr-011-2016-GR-APURIMAC.CR.pdf" download>
                                          <i class="bi bi-file-earmark-pdf-fill" style="cursor: pointer; font-size: 1.5rem;"></i>
                                        </a>
                                    </td>
                                  </tr>
                                 
                                </tbody>
                              </table>
                        </div>


                    </div>
                

                </div>
    
                <div class="col-lg-4 mt-5 mt-lg-0">

                    <!-- Author Bio -->
                    <div class="d-flex flex-column text-center bg-white py-5 px-4">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Infografias</h6>

                        <div id="carouselExampleIndependiente" class="carousel carousel-tamaño slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div 
                                    *ngFor="let infografia of infografias; let i = index" 
                                    class="carousel-item" 
                                    [ngClass]="{'active': i === 0}">
                                    <img [src]="getImageUrlInfografia(infografia.portada)" class="d-block w-100 img-info" alt="...">
                                </div>
                                
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndependiente" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndependiente" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                        
                    </div>                                            

                    <!-- Author Bio -->
                    <div class="d-flex flex-column bg-white py-5 px-4">
                        <div style="text-align: center;">
                            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">videos</h6>
                          </div>
            
                        <div class="ratio ratio-16x9 mb-3">
                            <iframe 
                                src="https://www.youtube.com/embed/6tsmgEN0I5w" 
                                title="Política Nacional de Igualdad de Género"
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                referrerpolicy="strict-origin-when-cross-origin" 
                                allowfullscreen>
                            </iframe>
                        </div>
                    
                        <h3 class="text-primary ">¿QUE ES LA VIOLENCIA DE GENERO?</h3>
                        <p>
                            La Convención Norteamericana para Prevenir, Sancionar y Erradicar la Violencia contra la Mujer define esta violencia como cualquier acción basada en el género que cause daño físico, sexual o psicológico, tanto en el ámbito privado como público. Incluye violencia dentro del hogar o relaciones personales, en la comunidad (como abuso, trata, acoso o tortura), y aquella perpetrada o tolerada por el Estado.
                        </p>
                    </div>
    
                    <!-- Author Bio -->
                    <div class="d-flex flex-column bg-white  py-5 px-4">
                        <div class="ratio ratio-16x9 mb-3">
                            <iframe 
                                src="https://www.youtube.com/embed/flfZ9bey6Ns"
                                title="Convención para prevenir, Sancionar y Erradicar la Violencia Contra la Mujer  Sesión 1, Capítulo 1"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                            </iframe>
                        </div>
                        
                        <h3 class="text-primary mb-3">POLÍTICAS NACIONALES</h3>
                        <p>
                            La Política Nacional de Igualdad de Género define la violencia de género como cualquier acción basada en el género que cause daño físico, sexual o psicológico, agravada por múltiples formas de discriminación (como etnicidad, clase, orientación sexual, etc.). Esta violencia ocurre tanto en el ámbito público como privado y afecta especialmente a mujeres y personas que desafían el sistema de género, en un contexto de discriminación estructural e interseccional.
                        </p>

                    </div>
    
                    <!-- Recent Post -->
                    <mat-tab-group>
                        <mat-tab label="Enlaces">
                            <div class="mb-5 mt-1">
                                <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">
                                    <img class="img-fluid img-post" src="assets/img/img2.jpeg" alt="">
                                    <div class="pl-3">
                                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                                        <small>Jan 01, 2050</small>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">
                                    <img class="img-fluid img-post" src="assets/img/img2.jpeg" alt="">
                                    <div class="pl-3">
                                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                                        <small>Jan 01, 2050</small>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">
                                    <img class="img-fluid img-post" src="assets/img/img2.jpeg" alt="">
                                    <div class="pl-3">
                                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                                        <small>Jan 01, 2050</small>
                                    </div>
                                </a>
                            </div>
                        </mat-tab>
                        <mat-tab label="Novedades">
                          <p>Contenido de la pestaña Nosotros</p>
                        </mat-tab>
                        <mat-tab label="Servicios">
                          <p>Contenido de la pestaña Servicios</p>
                        </mat-tab>
                      </mat-tab-group>
    

                </div>


            </div>
        </div>

    <!-- Destination Start -->
    <app-aliados></app-aliados>
    <!-- Destination Start -->

    <!-- Destination Start -->

        
    </div>
    <!-- Blog End -->
<app-footer></app-footer>
